@use "../base/variables" as v;
@use "sass:color";

@mixin tab() {
    @media(min-width: 728px) {
        @content;
    }
}

@mixin pc() {
    @media(min-width: 1080px) {
        @content;
    }
}

@mixin button($background: v.$blue, $color: v.$white, $margin-b: 0) {
    border: none;
    background-color: $background;
    color: $color;
    font-weight: bold;
    padding: 1.5rem 1rem;
    border-radius: .3rem;
    font-size: 1.4rem;
    width: 100%;
    transition: .3s background-color;
    margin-bottom: $margin-b;
    &:hover {
        cursor: pointer;
        background-color: color.scale($color: $background, $lightness: -5%);
    }
}

