@use "../base/variables" as v;
@use "../base/mixins" as m;

.form {
    @include m.pc {
        margin-left: 30rem;
    }

    &__content {
        padding: 2rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;

        @include m.pc {
            padding: 2rem 3rem;
            flex-direction: row;
            gap: 2rem;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        position: relative;

        @include m.pc {
            padding-right: 2rem;
        }

        &-input,
        &-text {
            border: none;
        }

        &-input {
            font-size: 2.5rem;
        }

        &-text {
            height: calc(100vh - 18rem);
            resize: none;
        }

        @include m.pc {
            &::after {
                content: "";
                position: absolute;
                width: .1rem;
                border: 1px solid v.$lightGray;
                height: calc(100% + 4rem);
                right: 0;
                top: -2rem;
            }
        }
    }

    &__buttons {
        display: flex;
        flex: 0.4;
        gap: 1rem;

        @include m.pc {
            flex-direction: column
        }

        &-btn {
            @include m.button;

            &--delete {
                @include m.button(v.$red);
            }
        }
    }
}