@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
    padding: 2rem;
    border-bottom: 1px solid v.$lightGray;

    @include m.pc {
        padding: 2rem 3rem;
        margin-left: 30rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include m.tab {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__input {
        border: none;
        padding: .5rem 0;
        border-bottom: 1px solid v.$lightGray;
    }
}