@use "../base/variables" as v;
@use "sass:color";

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid v.$lightGray;
    width: 30rem;
    background-color: v.$white;
    padding: 2rem;

    &__btn {
        border: none;
        background-color: v.$blue;
        color: v.$white;
        font-weight: bold;
        padding: 1.5rem 1rem;
        border-radius: .3rem;
        font-size: 1.4rem;
        width: 100%;
        transition: .3s background-color;
        margin-bottom: 2rem;

        &:hover {
            cursor: pointer;
            background-color: color.scale($color: v.$blue, $lightness: -5%);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: calc(100% - 5rem - 2rem);
       
        &-note {
            border-top: 1px solid v.$lightGray;
            padding-bottom: 1rem;

            &:nth-child(1) {
                border: none;
            }

            &:hover {
                cursor: pointer;
            }

            &-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}