@use "../base/variables" as v;
@use "../base/mixins" as m;
@use "sass:color";

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid v.$lightGray;
    width: 30rem;
    background-color: v.$white;
    padding: 2rem;

    &__btn {
        @include m.button($margin-b: 2rem);

        &--mobile {
            width: 8rem;
            height: 8rem;
            position: fixed;
            bottom: 2rem;
            right: 2rem;
            border-radius: 50%;
            font-size: 2.2rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: calc(100% - 5rem - 2rem);

        &-note {
            border-top: 1px solid v.$lightGray;
            padding-bottom: 1rem;

            &:nth-child(1) {
                border: none;
            }

            &:hover {
                cursor: pointer;
            }

            &-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}